
.container {

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.grid {


color:white;
background-color: darkred;
flex:1;
padding: 10px;
border: 1px solid;
border-color: black;

}

.row {
    display:flex;

}
.controls {
    display: flex;
    justify-content: center;
   
}

button {
    background-color: black;
    color: darkred;
    font-size: 200%;
    border: none;
   padding: 40px;
}

.screen {
    display: flex;
    justify-content: center;
    margin: 20px;
}

p {
    display: flex;
    justify-content: center;
}